a {
  color: #00B2EE;
}


/* TABLES */
table.dataTable {
  float: left;
}

table.dataTable thead th {

}

/* #DataTables_Table_1_wrapper td {
  vertical-align: bottom;
  padding-bottom: 6px;
}

#DataTables_Table_2_wrapper td {
  vertical-align: bottom;
  padding-bottom: 6px;
}

#DataTables_Table_1_wrapper .dataTables_scrollHead {
  display: none;
}

#DataTables_Table_2_wrapper .dataTables_scrollHead {
  display: none;
} */

.navbar-brand {
  line-height: 10px !important;
}

.navbar-author {  /* updated at... */
  color: rgb(230, 230, 230, .6) !important;
  font-size: 12px !important;
}

/* TIP ME */

/*
#navbar > ul.nav.navbar-nav.navbar-left > li:nth-child(5) > a {
  -webkit-animation: text-shadow 25s infinite;
  -moz-animation: text-shadow 25s infinite;
  -o-animation: text-shadow 25s infinite;
  animation: text-shadow 25s infinite;
}
@-webkit-keyframes text-shadow {
  0% { text-shadow: none; }
  25% { text-shadow: none; }
  50% { text-shadow: 0 0 15px yellow; }
  75% { text-shadow: none; }
  100% { text-shadow: none; }
}
@-moz-keyframes text-shadow {
  0% { text-shadow: none; }
  25% { text-shadow: none; }
  50% { text-shadow: 0 0 15px yellow; }
  75% { text-shadow: none; }
  100% { text-shadow: none; }
}
@-o-keyframes text-shadow {
  0% { text-shadow: none; }
  25% { text-shadow: none; }
  50% { text-shadow: 0 0 15px yellow; }
  75% { text-shadow: none; }
  100% { text-shadow: none; }
}
@keyframes text-shadow {
  0% { text-shadow: none; }
  25% { text-shadow: none; }
  50% { text-shadow: 0 0 15px yellow; }
  75% { text-shadow: none; }
  100% { text-shadow: none; }
}
*/

/* IMAGES */
.img_html {
  height: 50px;
  width: 50px;
  margin: 0px;
  padding: 0px;
}


/* NAVBAR */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

.navbar-inverse {
  border: none;
}

.navbar {
  background: linear-gradient(90deg, #ffc300, #eddd53, #add45c, #57c785, #00baad, #2a7b9b, #3d3d6b,
  #511849, #900c3f, #c70039, #ff5733, #ff8d1a);
  background-size: 2400% 2400%;

  -webkit-animation: navBarAnimation 30s ease infinite;
  -moz-animation: navBarAnimation 30s ease infinite;
  -o-animation: navBarAnimation 30s ease infinite;
  animation: navBarAnimation 30s ease infinite;
}

@-webkit-keyframes navBarAnimation {
  0%{background-position:48% 0%}
  50%{background-position:53% 100%}
  100%{background-position:48% 0%}
}
@-moz-keyframes navBarAnimation {
  0%{background-position:48% 0%}
  50%{background-position:53% 100%}
  100%{background-position:48% 0%}
}
@-o-keyframes navBarAnimation {
  0%{background-position:48% 0%}
  50%{background-position:53% 100%}
  100%{background-position:48% 0%}
}
@keyframes navBarAnimation {
  0%{background-position:48% 0%}
  50%{background-position:53% 100%}
  100%{background-position:48% 0%}
}


/* SCROLLBAR */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}